---
import Layout from '../layouts/Layout.astro';
import SideSection from '../components/SideSection.astro';
import '../styles/global.css';
---
<Layout title="Divisions" subtitle="" showJoin={false} heroImage="/fondo.jpeg">
  <section id="vision">
    <SideSection
      image="/fondo.jpeg"
      title="Vision"
      description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin eu urna sit amet 
augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. 
`}
      reverse={false}
    />
  </section>

  <section id="control&trajectory">
    <SideSection
      image="/fondo.jpeg"
      title="Control & Trajectory Generation"
      description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin eu urna sit amet 
augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. 
`}
      reverse={true}
    />
  </section>

  <section id="localization">
    <SideSection
      image="/fondo.jpeg"
      title="Localization"
      description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin eu urna sit amet 
augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. 
`}
      reverse={false}
    />
  </section>
  </section>
  <section id="navigation&planning">
    <SideSection
      image="/fondo.jpeg"
      title="Planning & Navigation"
      description={` The navigation system allows a drone to move autonomously from one point to another while avoiding obstacles in its path. It uses onboard sensors, such as LiDAR and depth cameras,
   to perceive its surroundings and generate collision-free paths in real time. Navigation can be performed in two ways: either through pre-planned missions where the drone is given a sequence of
    waypoints to fly through automatically, or through interactive navigation where a human operator selects a destination on a map and the drone computes a safe route on its own. In both cases, 
    the system continuously checks that the requested  destination is reachable and within valid bounds before the drone begins moving. The goal is to enable autonomous aerial inspection in environments
     where manual piloting would be impractical or unsafe. `}
      reverse={true}
    />
  </section>
  <section id="hardware&firmware">
    <SideSection
      image="/fondo.jpeg"
      title="Hardware & Firmware"
      description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin eu urna sit amet 
augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. 
`}
      reverse={false}
    />
  </section>
  <section id="simulation">
    <SideSection
      image="/fondo.jpeg"
      title="Simulation"
      description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod auctor ligula, at placerat sem rhoncus quis. Nulla facilisi. Donec id lectus nulla. Praesent ut pulvinar sem.
Proin eu lacus sit amet mauris finibus suscipit eu quis mi. Quisque sollicitudin massa eu venenatis viverra. Etiam sit amet felis non leo laoreet porttitor eget eget enim. Proin eu urna sit amet 
augue hendrerit vulputate. Sed iaculis euismod dolor quis cursus. Nulla sit amet massa vel diam gravida sodales eu in ante. 
`}
      reverse={true}
    />
  </section>
</Layout>