---
import Layout from '../layouts/Layout.astro';
import Row from '../components/Row.astro';
import '../styles/global.css';
const firstRow = [
  { name: 'Pascual Campoy Cervera',  image: '/logo-cvar.png' },
  { name: 'Rafael Pérez-Seguí',  image: '/logo-cvar.png' },
  { name: 'Javier Melero Deza',  image: '/logo-cvar.png' },
  { name: 'David Perez Saura',  image:'/logo-cvar.png' },
];

const secondRow = [
  { name: 'Carmen De Rojas Pita-Romero',  image: '/logo-cvar.png' },
  { name: 'Guillermo García Patiño',  image: '/logo-cvar.png' },
  { name: 'Francisco Jose Anguita Chamorro',  image: '/logo-cvar.png' },
  { name: 'Rodrigo Da Silva Gomez',  image: '/logo-cvar.png' },
];
---
---
<Layout title="Members" subtitle="" showJoin={true} heroImage="/team.jpeg">
  <p> 
  <Row members={firstRow} offset={true}/>
  <Row members={secondRow} offset={true} />
  </p>
</Layout>