---
import '../styles/global.css';
const { image, title, description, reverse = false, url } = Astro.props;
---

<div class="breakout-wrapper">
  <section class={`split-section ${reverse ? 'reverse' : ''}`}>
    {!reverse ? (
      <>
        <div class="split-image">
          <img src={`${import.meta.env.BASE_URL}${image}`} alt={title} />
        </div>
        <div class="split-content">
          {url ? (
            <h2  class="side-section-title"><a href={url}>{title}</a></h2>
          ) : (
            <h2 class="side-section-title">{title}</h2>
          )}
          <p>{description}</p>
        </div>
      </>
    ) : (
      <>
        <div class="split-content" >
          {url ? (
            <h2 class="side-section-title"><a href={url}>{title}</a></h2>
          ) : (
            <h2 class="side-section-title">{title}</h2>
          )}
          <p>{description}</p>
        </div>
        <div class="split-image">
          <img src={`${import.meta.env.BASE_URL}${image}`} alt={title} />
        </div>
      </>
    )}
  </section>
</div>
