---
import '../styles/global.css';
const { image, title, description, reverse = false, url } = Astro.props;
---

<section class={`image-text ${reverse ? 'reverse' : ''}`}>
  <div class="image">
    <img src={`${import.meta.env.BASE_URL}${image}`} alt={title} />
  </div>
  <div class="content">
    {url 
      ? <h2><a href={`${import.meta.env.BASE_URL}${url}`}>{title}</a></h2>
      : <h2>{title}</h2>
    }
    <p>{description}</p>
  </div>
</section>

<style>
.image-text {
  display: flex;
  align-items: center;
  gap: 4rem; 
  padding: 2rem; 
  flex-wrap: wrap; 
}

.image-text.reverse {
  flex-direction: row-reverse; 
}

.image {
  flex: 1 1 300px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.content {
  flex: 2 1 400px; 
}

.content h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  align-self: center; 
  text-align: center; 

}

.content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .image-text {
    flex-direction: column; 
    padding: 1rem;
  }

  .image,
  .content {
    flex: 1 1 100%;
  }

  .content h2 {
    font-size: 1.5rem;
  }
}
</style>
